header {
    position: fixed;
    height: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.head-link {
    position: fixed;
    height: 50px;
    top: 92px;
    left: 0px;
    right: 0px;
    background-color: whitesmoke;
    z-index: 1;
}
a:hover{
    color: #005cbf;
    text-decoration: none
}
a{
    color: black;
}
iframe{
    padding-left: 20px;
}
.left-content{
    border-right: 1px solid whitesmoke;
}
h5{
    font-weight: lighter;
    font-size: 18px;
}